
<div class="tabs four">
  <input id='tab-QB' type='radio' name='playersTab' ng-click="getPlayers('QB')" checked />
  <label class="pseudo button toggle" for="tab-QB">QB</label>
  <input id='tab-RB' type='radio' name='playersTab' ng-click="getPlayers('RB')">
  <label class="pseudo button toggle" for="tab-RB">RB</label>
  <input id='tab-WR' type='radio' name='playersTab'>
  <label class="pseudo button toggle" for="tab-WR">WR</label>
  <input id='tab-TE' type='radio' name='playersTab'>
  <label class="pseudo button toggle" for="tab-TE">TE</label>
  <div class="row">
    <!--QBs-->
    <div>
      QB
    </div>
    <!--RBs-->
    <div>
      RB
    </div>
    <!--WRs-->
    <div>
      WR
    </div>
    <!--TEs-->
    <div>   
      TE
    </div>
  </div>
</div>