
<div class="tabs four">
  <input id='tab-QB' type='radio' name='playersTab' ng-click="getPlayers('QB')" checked />
  <label class="pseudo button toggle" for="tab-QB">QB</label>
  <input id='tab-RB' type='radio' name='playersTab' ng-click="getPlayers('RB')">
  <label class="pseudo button toggle" for="tab-RB">RB</label>
  <input id='tab-WR' type='radio' name='playersTab' ng-click="getPlayers('WR')">
  <label class="pseudo button toggle" for="tab-WR">WR</label>
  <input id='tab-TE' type='radio' name='playersTab' ng-click="getPlayers('TE')">
  <label class="pseudo button toggle" for="tab-TE">TE</label>
  <div class="row">
    <!--QBs-->
    <div>
      <table class="pure-table pure-table-horizontal">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Player</th>
            <th>Team</th>
            <th>Opponent</th>
          </tr>
        </thead>
        <!--
        <tbody>
          <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
          </tr>
        </tbody>
        -->
      </table>
    </div>
    <!--RBs-->
    <div>
      RB
    </div>
    <!--WRs-->
    <div>
      WR
    </div>
    <!--TEs-->
    <div>   
      TE
    </div>
  </div>
</div>