
<div class="tabs four">
  <input id='tab-1' type='radio' name='playersTab' checked />
  <label class="pseudo button toggle" for="tab-1">QB</label>
  <input id='tab-2' type='radio' name='playersTab'>
  <label class="pseudo button toggle" for="tab-2">RB</label>
  <input id='tab-3' type='radio' name='playersTab'>
  <label class="pseudo button toggle" for="tab-3">WR</label>
  <input id='tab-4' type='radio' name='playersTab'>
  <label class="pseudo button toggle" for="tab-4">TE</label>
  <div class="row">
    <!--QBs-->
    <div>
      QB
    </div>
    <!--RBs-->
    <div>
      RB
    </div>
    <!--WRs-->
    <div>
      WR
    </div>
    <!--TEs-->
    <div>   
      TE
    </div>
  </div>
</div>